
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family:
    "Noto Sans", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.86);
}

h1,
h2 {
  font-family: "Averia Serif Libre", "Noto Sans", serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
